<section class="connection">
  <div class="mbox">
    <h2>Подключение партнера</h2>
    <div class="connect-request">
      <h3>Заполните заявку</h3>
      <p>Мы рассмотрим ее за 1 рабочий день</p>
      <form class="connection-form" action="ajax.php" method="post">
        <div class="form-field">
          <input type="text" name="name" placeholder="Наименование партнера" required />
        </div>
        <div class="form-field">
          <input type="text" name="address" placeholder="Полный адрес" required />
        </div>
        <div class="form-field">
          <input type="text" name="chief" placeholder="ФИО руководителя" required />
        </div>
        <div class="form-field">
          <input type="tel" class="phone" name="tel" placeholder="Телефон" required />
        </div>
        <button type="submit" class="el-submit">отправить заявку</button>
      </form>
    </div>
  </div>
</section>

<section class="platform-info">
  <div class="mbox">
    <div class="platform-connect">
      <a href="#"><img src="images/info-button.png" alt=""></a>
      <p>Подключение партнеров к нашей аудитории <span>бесплатно</span></p>
    </div>
    <h2>В нашей платформе</h2>
    <div class="platform-pic">
      <div class="platform-top-row">
        <div class="platform-item">
          <img src="images/englisland-logo.png" alt="">
        </div>
        <div class="platform-item">
          <img src="images/detki-logo.png" alt="">
        </div>
        <div class="platform-item">
          <img src="images/izumenka-icon.png" alt="">
        </div>
        <div class="platform-item">
          <img src="images/leo-logo.png" alt="">
        </div>
        <div class="platform-item">
          <img src="images/englisland-logo.png" alt="">
        </div>
        <div class="platform-item">
          <img src="images/aykasan-logo.png" alt="">
        </div>
      </div>
      <div class="platform-bottom-row">
        <div class="platform-item">
          <img src="images/mir-logo.png" alt="">
        </div>
        <div class="platform-item">
          <img src="images/izumenka-icon.png" alt="">
        </div>
        <div class="platform-item">
          <img src="images/aykasan-logo.png" alt="">
        </div>
        <div class="platform-item">
          <img src="images/mir-logo.png" alt="">
        </div>
        <div class="platform-item">
          <img src="images/ideal-logo.png" alt="">
        </div>
        <div class="platform-item">
          <img src="images/leo-logo.png" alt="">
        </div>
      </div>
      <div class="partners">
        <span>223</span>
      </div>
    </div>
    <h2>партнера</h2>
  </div>
</section>