<section class="contacts">
  <div class="mbox">
    <h2>Контакты</h2>
    <div class="contacts-wrap">
      <form class="contacts-form" action="ajax-programer.php" method="post">
        <div class="form-field">
          <input type="text" name="contact_name" placeholder="Ваше имя" required />
        </div>
        <div class="form-field">
          <input type="email" name="contact_email" placeholder="Ваш e-mail" required />
        </div>
        <div class="form-field textarea-field">
          <textarea name="contact_message" placeholder="Ваше сообщение" required></textarea>
          <div class="file-field">
            <label for="file-input">
              <img src="images/broken-link.png" alt="" />
            </label>
            <input id="file-input" type="file" />
          </div>
        </div>
        <button type="submit" class="el-submit">ОТПРАВИТЬ</button>
      </form>
      <div class="contacts-block">
        <div class="contacts-list">

          <div class="contacts-item">
            <div class="contacts-icon">
              <img src="images/mobile-icon.png" alt="">
            </div>
            <a href="tel:79066689133">+7 906 668-91-33</a>
          </div>
          
          <div class="contacts-item">
            <div class="contacts-icon">
              <img src="images/letter2-icon.png" alt="">
            </div>
            <a href="mailto:discount@kinderedu.ru">discount@kinderedu.ru</a>
          </div>

          <div class="contacts-item">
            <div class="contacts-icon">
              <img src="images/clock-icon.png" alt="">
            </div>
            <span>Время работы: 24/7</span>
          </div>

          <div class="contacts-item">
            <div class="contacts-icon">
              <img src="images/address-icon.png" alt="">
            </div>
            <span>Россия, Смоленская обл.,
            <br>г.Вязьма, ул.Маяковского, д.9</span>
          </div>
          <div class="contacts-item">
            <div class="contacts-icon">
              <img src="images/marker-icon.png">
            </div>
            <a id="contactsMap" href="#contacts_map">Показать на карте</a>
          </div>
        </div>
        <div class="contacts-social">
          <a href="#"><img src="images/vk-big-icon.png" alt=""></a>
          <a href="#"><img src="images/fb-big-icon.png" alt=""></a>
          <a href="#"><img src="images/ok-big-icon.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>