<section class="partner js-tab">
  <div class="mbox">
    <div class="partner-top">
      <a href="partners.html">Все</a>
      <h1>EnglishLand</h1>
    </div>
    <div class="partner-info">
      <div class="partner-logo">
        <img src="images/englisland-logo.png" alt="">
        <div class="discount-circle">
          <span>Скидка</span>
          <b>10%</b>
        </div>
      </div>
      <div class="partner-info-right">
        <p><span>EnglishLand</span> - Ваше уверенное общение на английском 
        языке в любой обстановке, Ваша возможность ставить перед 
        собой цели, не имея препятствий в виде языкового барьера, 
        Ваша возможность черпать знания из ранее недоступных 
        источников информации.</p>
        <a class="el-button" href="#">МОИ ПОКУПКИ</a>
      </div>
    </div>
    <div class="card-loyalty">
      <h2>Где принимают карту лояльности?</h2>
      <div class="tabs-wrap">
        <ul class="el-tabs">
            <li class="tab">Списком</li>
            <li class="tab">На карте</li>
        </ul>
        <div class="tab-content">
            <div class="tab-item list-item">
              <div class="table-head">
                  <h5>Адрес</h5>
                  <h5>График</h5>
                  <h5>Рассрочка</h5>
              </div>

              <div class="table-body">
                <div class="table-row">
                  <div class="table-body-item">
                    <p>Россия, Смоленская обл., 
                    <br>г. Вязьма, ул. Маяковского, д. 9,
                    3 этаж</p>
                  </div>
                  <div class="table-body-item">
                    <p>будни: 10:00 - 23:00; 
                    выходные: 10:00 - 00:00</p>
                  </div>
                  <div class="table-body-item">
                    <p>1 месяц</p>
                  </div>
                </div>
                <div class="table-row">
                  <div class="table-body-item">
                    <p>Россия, Смоленская обл., 
                    <br>г. Вязьма, ул. Маяковского, д. 9,
                    3 этаж</p>
                  </div>
                  <div class="table-body-item">
                    <p>будни: 10:00 - 23:00; 
                    выходные: 10:00 - 00:00</p>
                  </div>
                  <div class="table-body-item">
                    <p>1 месяц</p>
                  </div>
                </div>
                <div class="table-row">
                  <div class="table-body-item">
                    <p>Россия, Смоленская обл., 
                    <br>г. Вязьма, ул. Маяковского, д. 9,
                    3 этаж</p>
                  </div>
                  <div class="table-body-item">
                    <p>будни: 10:00 - 23:00; 
                    выходные: 10:00 - 00:00</p>
                  </div>
                  <div class="table-body-item">
                    <p>1 месяц</p>
                  </div>
                </div>
                <div class="table-row">
                  <div class="table-body-item">
                    <p>Россия, Смоленская обл., 
                    <br>г. Вязьма, ул. Маяковского, д. 9,
                    3 этаж</p>
                  </div>
                  <div class="table-body-item">
                    <p>будни: 10:00 - 23:00; 
                    выходные: 10:00 - 00:00</p>
                  </div>
                  <div class="table-body-item">
                    <p>1 месяц</p>
                  </div>
                </div>
                <div class="table-row">
                  <div class="table-body-item">
                    <p>Россия, Смоленская обл., 
                    <br>г. Вязьма, ул. Маяковского, д. 9,
                    3 этаж</p>
                  </div>
                  <div class="table-body-item">
                    <p>будни: 10:00 - 23:00; 
                    выходные: 10:00 - 00:00</p>
                  </div>
                  <div class="table-body-item">
                    <p>1 месяц</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-item map-item">
              <div id="mymap"></div>
            </div>
        </div>
      </div>
      <a class="el-button" href="partners.html">ВСЕ ПАРТНЕРЫ</a>
    </div>
  </div>
</section>