<!-- HEADER -->
<header class="header">
  <div class="mbox">
    <div class="header-wrap">
      <a class="logo" href="index.html">
        <img src="images/logo.png" alt="logo">
      </a>
      <a class="phone" href="tel:79066689133">+7 906 668-91-33</a>
    </div>
    <nav>
      <div class="burger">
        <div class="burger-brick"></div>
        <div class="burger-brick middle"></div>
        <div class="burger-brick"></div>
      </div>
      <ul class="main-menu">
        <li><a href="#">Как пользоваться</a></li>
        <li><a class="active" href="#">Где покупать</a></li>
        <li><a href="partners.html">Партнеры</a></li>
        <li><a href="#">Тарифы</a></li>
        <li><a href="contacts.html">Контакты</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- /HEADER -->

