<section class="activation setion-animate">
  <div class="mbox cfix">
    <h2 class="title">Активируйте карту</h2>
    <div class="instruction">
      <ul>
        <li>Заполните Ваши номер телефона и номер Вашей карты KinderEdu.</li>
        <li>Дождитесь SMS с четырех значным кодом подтверждения.</li>
        <li>Введите код подтверждения в появившемся окне.</li>
        <li>На Ваш номер телефона придет SMS с данными для авторизации в Вашем Личном кабинете!</li>
      </ul>
    </div>
    <form class="activation-form" action="ajax.php" method="post">
      <div class="form-field">
        <input class="phone" type="text" name="phone" placeholder="Ваш номер телефона" required />
      </div>
      <div class="form-field">
        <input id="card" type="text" name="card" placeholder="Ваш номер карты" required />
      </div>
      <button type="submit">Активировать</button>
    </form>
    <div class="card animate-it">
      <img src="images/card.png" alt="card">
    </div>
    <div class="instruction-steps">

      <div class="steps-item">
        <div class="steps-icon">
          <img src="images/write-icon.png" alt="">
        </div>
        <p>Заполните данные</p>
      </div>

      <div class="steps-item">
        <div class="steps-icon">
          <img src="images/sms-icon.png" alt="">
        </div>
        <p>Дождитесь SMS</p>
      </div>

      <div class="steps-item">
        <div class="steps-icon">
          <img src="images/card-icon.png" alt="">
        </div>
        <p>Активируйте карту</p>
      </div>

      <div class="steps-item">
        <div class="steps-icon">
          <img src="images/service-icon.png" alt="">
        </div>
        <p>Пользуйтесь сервисом</p>
      </div>

    </div>
  </div>
</section>

<section class="discount">
  <div class="mbox">
    <h2 class="title">Получайте скидку  в магазинах — партнерах</h2>
    <div class="discount-info">
      <p>Покупайте любые товары и услуги, которые предлагают Вам наши 
      магазины-партнеры. Сниженные цены доступны только для Вас!</p>
      <p>Количество приобретаемых товаров и услуг, при наличии карты, не ограничено!</p>
    </div>
    <div class="discount-top-row">
      <div class="discount-item" href="#">
        <img src="images/englisland-logo.png" alt="">
      </div>

      <div class="discount-item" href="#">
        <img src="images/detki-logo.png" alt="">
      </div>

      <div class="discount-item" href="#">
        <img src="images/ideal-logo.png" alt="">
      </div>

      <div class="discount-item" href="#">
        <img src="images/aykasan-logo.png" alt="">
      </div>
    </div>

    <div class="discount-bottom-row">
      <div class="discount-item" href="#">
        <img src="images/mir-logo.png" alt="">
      </div>

      <div class="discount-item" href="#">
        <img src="images/izumenka-icon.png" alt="">
      </div>

      <div class="discount-item" href="#">
        <img src="images/leo-logo.png" alt="">
      </div>

      <div class="discount-item" href="#">
        <img src="images/safety-logo.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="profile">
  <div class="mbox">
    <h2 class="title">Личный кабинет</h2>
    <div class="profile-info">
      <p>Ваш удобный инструмент для управления сервисом - всегда под рукой!</p>
    </div>
    <div class="profile-row profile-top-row">
      <div class="profile-item">
        <div class="profile-icon">
          <img src="images/view-stores-icon.png" alt="">
        </div>
        <p>Удобный просмотр магазинов-партнеров</p>
        <span>Отображены покупки, 
        размер скидки, адрес, 
        режим работы</span>
      </div>
      <div class="profile-item">
        <div class="profile-icon">
          <img src="images/info-icon.png" alt="">
        </div>
        <p>Бесплатное SMS-информирование</p>
        <span>Информация о событиях Вашего 
        ребенка будет приходить на 
        Ваш мобильный телефон</span>
      </div>
      <div class="profile-item">
        <div class="profile-icon">
          <img src="images/online-icon.png" alt="">
        </div>
        <p>Оплата сада в режиме Онлайн</p>
        <span>Не выходя из дома Вы можете 
        оплатить за детский сад 
        (Пока с комиссией)</span>
      </div>
      <div class="profile-item">
        <div class="profile-icon">
          <img src="images/archive-icon.png" alt="">
        </div>
        <p>Архив ребенка</p>
        <span>По окончанию детского сада, сервис 
        KinderEdu бесплатно передает Вам 
        флеш-накопитель со всеми 
        материалами ребенка</span>
      </div>
    </div>

    <div class="profile-row profile-bottom-row">
      <div class="profile-item">
        <div class="profile-icon">
          <img src="images/like-icon.png" alt="">
        </div>
        <p>Удобная и доступная оплата сервиса</p>
        <span>Стоимость 1 руб / день или 
        160 руб / 6 мес. 320 руб / 1год</span>
      </div>

      <div class="profile-item">
        <div class="profile-icon">
          <img src="images/money-icon.png" alt="">
        </div>
        <p>Экономия больше, чем стоит сервис</p>
        <span>По итогам за период Вы поймете, 
        что сервис для Вас бесплатный</span>
      </div>

      <div class="profile-item">
        <div class="profile-icon">
          <img src="images/view-icon.png" alt="">
        </div>
        <p>Детализация покупок</p>
        <span>Просмотр покупок в
        магазине-партнере</span>
      </div>

      <div class="profile-item">
        <div class="profile-icon">
          <img src="images/email-icon.png" alt="">
        </div>
        <p>Email / SMS-уведомления</p>
        <span>Новые магазины-партнеры, 
        акции, бонсы и многое другое</span>
      </div>
    </div>
  </div>
</section>