<section class="our-partners">
  <div class="mbox">
    <h2 class="title">Все магазины — партнеры</h2>
    <form action="/" method="post" name="search">
      <div class="form-field">
        <input type="search" placeholder="Введите название магазина..." />
        <button type="submit"><img src="images/search-icon.png" alt=""></button>
      </div>
    </form>
    <div class="partners-wrap">

      <a href="englishland.html" class="partner-item">
        <div class="partner-logo">
          <img src="images/englisland-logo.png" alt="">
        </div>
        <h3>ENGLAND</h3>
        <p>Школа английского языка</p>
        <span>Скидка: <b>10%</b></span>
      </a>

      <a href="#" class="partner-item connecting">
        <div class="partner-logo">
          <img src="images/leo-logo.png" alt="">
        </div>
        <h3>LEO</h3>
        <p>Магазин для детей</p>
        <span>Активен с <b>22.02.2017</b></span>
      </a>

      <a href="#" class="partner-item">
        <div class="partner-logo">
          <img src="images/ideal-logo.png" alt="">
        </div>
        <h3>ИДЕАЛ</h3>
        <p>Салон красоты</p>
        <span>Скидка: <b>15%</b></span>
      </a>

      <a href="#" class="partner-item">
        <div class="partner-logo">
          <img src="images/aykasan-logo.png" alt="">
        </div>
        <h3>AYKASAN</h3>
        <p>Ресторан японской кухни</p>
        <span>Скидка: <b>5%</b></span>
      </a>

      <a href="#" class="partner-item">
        <div class="partner-logo">
          <img src="images/izumenka-icon.png" alt="">
        </div>
        <h3>ИЗЮМИНКА</h3>
        <p>Салон праздника и декора</p>
        <span>Скидка: <b>15%</b></span>
      </a>

    </div>
  </div>
</section>